.bookingContainer {
  background-color: black;
}
.booking-page {
  width: 100%;
  height: 100%;
  background: transparent;
  /* background-image: url("../components/uploads/booking-movie5.jpg"); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.booking-main {
  background: #000000c4;
  opacity: 0.7;
}
.booking-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.movie-title {
  margin: 1rem 0 2rem 0;
}
.booking-container-seat {
  /* flex: 3; */
  flex-basis: 20%;
  margin-top: 9.375rem;
  padding: 6.25rem 0;
  color: #ffff;
  padding: 0 3.125rem;
}
.booking-seat-side {
  display: flex;
  gap: 0.625rem;
  margin-top: 3.125rem;
}
.booking-seat-side p {
  font-size: 1.25rem;
  font-weight: 400;
}
.booking-seat-vvip {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  /* background-color: #ffff00; */
}
.booking-seat-vip {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  /* background-color: #00d0ff; */
}
.booking-seat-regular {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  /* background-color: #fff; */
}
.booking-container-col1 {
  margin-top: 11.25rem;
  flex-basis: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.box-container-top-items {
  top: 0;
  line-height: 3.125rem;
}
.box-container-top .booking-hr {
  color: #747272;
}
.booking-header-text {
  margin-bottom: 1.875rem;
  color: #fff;
  line-height: 1.25rem;
}

.booking-choose-seat-text {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 600;
}

.box-container-top-item1 {
  border-left: 0.25rem solid #a4e924;
  margin-bottom: 1.875rem;
}

.box-container-top-item2 {
  border-left: 0.25rem solid #eedc20;
}
.box-container-top-items .item1-date {
  color: #e2e1e1;
  opacity: 0.8;
  margin: 0.625rem 0;
}
.box-container-top-items .item2-date {
  color: #cecaca;
  opacity: 0.8;
  margin: 0.625rem 0;
}
.box-container-top-items .item1-text {
  color: #fff;
  margin-left: 0.9375rem;
}

.box-container-top-items .item1-date {
  margin-left: 0.9375rem;
}
.box-container-top-items .item2-text {
  color: #fff;
  margin-left: 0.9375rem;
}

.box-container-top-items .item2-date {
  margin-left: 0.9375rem;
}

.main-boxx {
  display: flex;
  /* background-color: red; */
  gap: 9.375rem;
}
.box1 {
  rotate: 180deg;
}

.box1-col1 {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.box1-col1 .col1p {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem solid gray;
  border-radius: 0.875rem;
}

.box1 .col1p span.active {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: #4ab1b3;
  border-radius: 0.625rem;
  position: relative;
  left: 0.5rem;
  top: 0.5625rem;
}

.box1 .col1p i {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: #4ab1b3;
  border-radius: 0.625rem;
  position: relative;
  left: 0.5rem;
  top: 0.5625rem;
}

.box1 .col1p i.vip {
  width: 3.0625rem;
  height: 3.0625rem;
  display: block;
  border: 0.125rem solid gray;
  background-color: #2f2bf7;
  border-radius: 0.625rem;
  position: relative;
  left: -0.375rem;
  top: -0.3125rem;
  z-index: -10;
}

.box2 .col1p span.active {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: #4ab1b3;
  border-radius: 0.625rem;
  position: relative;
  left: 0.5625rem;
  top: 0.5625rem;
}

.box2 .col1p i.vvip {
  width: 0.5625rem;
  height: 0.5625rem;
  display: block;
  background-color: yellow;
  border-radius: 0.625rem;
  position: relative;
  left: 2rem;
  top: 0rem;
}

.box2 .col1p i.vip {
  width: 0.5625rem;
  height: 0.5625rem;
  display: block;
  background-color: blue;
  border-radius: 0.625rem;
  position: relative;
  left: 2rem;
  top: 0rem;
}

.box2 .col1p i.regular {
  width: 3.0625rem;
  height: 3.0625rem;
  display: block;
  border: 0.125rem solid gray;
  background-color: #fff;
  border-radius: 0.625rem;
  position: relative;
  left: -0.375rem;
  top: -0.3125rem;
  z-index: -10;
}

.box-line .line {
  margin-top: 3.125rem;
  width: 36.25rem;
  height: 6.25rem;
  border: solid 0.4375rem #65f8fa;
  border-color: #65f8fa transparent transparent;
  border-radius: 60%;
}

.booking-container-col1-inputs {
  margin: 6.25rem 0 0rem 0;
  display: flex;
  gap: 6.25rem;
}

.booking-container-col-text {
  color: #fff;
  margin: 0rem 0.5rem;
}

.priceSuammryContainer {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.5rem 1rem;
  width: 45%;
  margin: 0.8rem;
  border-radius: 0.5rem;
}
.priceSuammry {
  margin: 1rem 0;
}
.priceSuammryContainer summary {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.moviePrice {
  position: relative;
  margin-top: 0.4rem;
}
.moviePrice::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 0.1rem;
  background-color: rgba(0, 0, 0, 0.733);
}
.priceSuammry {
  display: flex;
  justify-content: space-between;
}
.booking-total {
  display: flex;
  gap: 0.625rem;
}
.booking-totalh {
  color: #747272;
}

.booking-total button {
  padding: 0px 16px;
  margin-left: 1.25rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
}

.booking-total button:hover {
  color: #747272;
}

.booking-totalp {
  color: #baf019;
  font-size: 1.25rem;
  font-weight: 700;
}

.booking-container-col2 {
  margin-top: 6.25rem;
  /* flex: 3; */
  width: 100%;
  flex-basis: 20%;
}

.booking-container-top-col {
  width: 12.5rem;
  height: 18.75rem;
  margin-top: 6.25rem;
  border-radius: 0.625rem;
}

.booking-img1 {
  width: 100%;
  object-fit: cover;
  height: 18.75rem;
  border-radius: 0.625rem;
}
.booking-container-top-text {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800;
  color: #fff;
}

.booking-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.625rem;
}
.bookint-star {
  color: #ee9520;
  font-size: 1.25rem;
  margin-right: 0.3125rem;
}

.booking-rate {
  color: #ee9520;
  font-size: 1.25rem;
  font-weight: 700;
}

.booking-container-col-bottom {
  margin-top: 6.25rem;
  margin-bottom: 3.125rem;
}
.booking-container-col-bottom-row1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.booking-container-col-bottom-row1 .b-col {
  width: 12.5rem;
  height: 9.375rem;
}
.b-col {
  flex-basis: 23%;
}
.booking-icon {
  font-size: 2.5rem;
  color: #ffffff;
}

.booking-icon4 {
  width: 60%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: #ffffff;
  cursor: pointer;
}
.b-col-text1 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
}
.b-col-text2 {
  color: #9a9898;
  margin-top: 0.625rem;
  font-weight: 600;
}
.noBooking {
  color: white;
}

@media (max-width: 26.875rem) {
  .booking-container-col2 {
    order: 1;
    flex-basis: 100%;
    padding: 0 1rem;
  }

  .booking-container-seat {
    flex-basis: 20%;
    margin-top: 0.625rem;
    padding: 6.25rem 1rem 0 1rem;
    color: #ffff;
  }
  .booking-container-seat {
    order: 2;
    flex-basis: 100%;
    width: 100%;
  }

  .booking-container-col1 {
    order: 3;
    flex-basis: 100%;
    width: 100%;
    margin: 2rem;
  }

  /* seat section */
  .box-line .line {
    margin-top: 3.125rem;
    width: 23.25rem;
    height: 6.25rem;
  }

  .b-col {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 48%;
    margin-bottom: 2rem;
  }
  .box1-col1 {
    display: flex;
    gap: 0.55rem;
    margin-top: 1.25rem;
  }

  .booking-container-col1-inputs {
    margin: 6.25rem auto 2rem auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    gap: 0rem;
  }

  .main-boxx {
    gap: 3.375rem;
  }
  .priceSuammryContainer {
    width: 100%;
  }
  .priceSuammry {
    margin: 1rem 0;
  }
  .booking-container-col1-input {
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    flex-basis: 30%;
  }
  .booking-total {
    margin-top: 0;
  }
}
