
.comingSoon{
    width: 100%;
    display: block;
}

.comingSoonWidth{
    width: 91%;
    margin: 0 auto;
}

.comingSoonHeader{
    display: flex;
    justify-content: space-between;
}

.comingSoonHeader h2{
    font-size: 1.8rem;
    color: #FFFFFF;
    opacity: 1;
}