.footer {
  width: 91%;
  display: flex;
  flex-flow: row wrap;
  margin: 7.5rem auto 0 auto;
}

.getapp {
  flex-basis: 30%;
  display: block;
}

.getapp .logo {
  flex-basis: 8.4375rem;
  height: auto;
}

.getapp span {
  font-size: 14px;
  color: #979797;
  display: block;
  margin-top: 1.5rem;
}

.getapp .apps {
  display: flex;
  gap: 1.25rem;
  margin-top: 20px;
}

.getapp .apps img {
  width: 7.1875rem;
  height: 2.5rem;
}

.footer-right {
  flex-basis: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-links span {
  font-size: 0.75rem;
  color: #979797;
  display: block;
  margin-bottom: 0.8rem;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 3;
}

@media (max-width: 26.875rem) {
  .footer {
    width: 91%;
    display: flex;
    margin: 7.5rem auto 0 auto;
  }
  .footer-right {
    flex-basis: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-links {
    margin: 1rem 0;
  }
  .socials ul {
    display: flex;
    justify-content: space-between;
  }
}
