* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    overflow: "hidden";
    padding: 2.5rem 0;
}

.slider img {
    width: 12.5rem;
    border-radius: 10px;
}

.slider img :hover{
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
