.nowShowing {
  width: 100%;
  position: absolute;
  min-height: 420px;
  z-index: 1;
  margin-top: -110px;
  background-color: black;
}

.nowShowingWidth {
  width: 91%;
  margin: 0 auto;
}

.nowShowingHeader {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}

.nowShowingHeader h2 {
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 1;
}

.showVenueDates.homepage {
  flex-basis: 50%;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-end;
}

.landingselect {
  outline: 0;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bold;
  background: transparent;
  border: 1px solid #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
}

@media (max-width: 26.875rem) {
  .nowShowingHeader {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  .nowShowingH2Container {
    flex-basis: 100%;
    order: 2;
    margin: 1rem 0;
  }

  .showVenueDates.homepage {
    margin-top: 0.7rem;
    flex-basis: 100%;
    order: 1;
  }
}
