main {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;

}

.otp{
    width: 70%;
    margin: 20px auto;
    display: flex;
    gap: 10px
}

input{
    width: 20%;
    padding: 10px;
    outline: none;
    text-align: center;
}

:focus{
    border: 2px solid red
}

button{
    padding: 10px;
}